{% extends 'base.html' %}
{% load staticfiles %}
<!-- {% block head %}

    <style type="text/css">

        }
    </style>
{% endblock %} -->

{% block title %}
{% endblock %}

{% block content %}
    <div class="row">
        {% for name, img in moviedata %}
        <div class="col-sm-6 col-md-3">
            <a href="{% url 'movie_detail' name.id %}" class="thumbnail">
                
                    <img src= "{{ MEDIA_URL }}{{ img }}" title="點擊進入評分" alt="圖片" >
                
                <h3 class="text-center">{{ name }}</h3>
                <!-- <h3 class="text-center"><a href="{% url 'movie_detail' name.id %}">{{ name }}</h3> -->

            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}